@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200,100);
body{
	overflow-x: hidden;
}

h1, h4, a{
  color: #fafafa;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

#map {
	overflow-x: hidden;
}

.cityscape {
  background-color: #2C3E50;
}

.cityscape .logo {
	margin-top: 3vh;
}

.cityscape .btn {
  background-color: transparent;
  color: #fafafa;
}

.cityscape .row {
  margin: 0 0;
}

.cityscape .btn:hover{
  background-color: #ffef2e;
  color: #2C3E50;
}

.cityscape img {
  width: 5%;
  height: 15%;
  position: relative;
  vertical-align: bottom;
}

.cityscape .bridge {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  width: 30%;
  left: 15px;
}

.cityscape .blue-building {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  width: 10%;
  left: 10px;
  z-index: 1;
}

.cityscape .yellow-building {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  left: 15px;
}

.cityscape .gray-building {
	left: 25px;
}

.cityscape .flyover {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  width: 25%;
  left: 22px;
  z-index: 1;
}

.cityscape .green-building {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  left: 18px;
}

.cityscape .blue-building2 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  width: 10%;
  left: 25px;
  z-index: 1;
}

.cityscape .gray-building2 {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  left: 34px;
}

#trending {
	background-color: #2C3E50;
}

#trending h2 {
	color: #fafafa;
	font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#trending p {
	color: #fafafa;
	font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
